<header>
  <table
    width='560'
    cellspacing='0'
    cellpadding='0'
    border='0'
    class='mobile-width'
    align='center'
    valign='top'
    style='
      border-collapse: collapse;
      width: 560px;
      max-width: 560px;
      background-color: #ffffff;
    '
  >
    <tr>
      <td
        style="
          padding: 40px 30px 0 30px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        "
      >
        {{#if orgName}}
          <div
            style='
              font-size: 24px;
              font-weight: 700;
              color: #1d1c1d;
              letter-spacing: -0.25px;
              line-height: 28px;
            '
          >
            {{orgName}}
          </div>
          <div
            style='
              font-size: 12px;
              font-weight: 400;
              color: #5e5e5e;
              line-height: 20px;
              margin-top: 4px;
            '
          >
            Powered by PipesHub
          </div>
        {{else}}
          <div
            style='
              font-size: 24px;
              font-weight: 700;
              color: #1d1c1d;
              letter-spacing: -0.25px;
              line-height: 28px;
            '
          >
            PipesHub
          </div>
        {{/if}}
      </td>
    </tr>
  </table>
</header>
