NODE_ENV=production
LOG_LEVEL=info
ALLOWED_ORIGINS=

SECRET_KEY=

# Use Public URL to open web page
FRONTEND_PUBLIC_URL=

REDIS_HOST=
REDIS_USERNAME=
REDIS_PASSWORD=

MONGO_HOST=
MONGO_USERNAME=
MONGO_PASSWORD=

QDRANT_API_KEY=

KAFKA_BROKERS=
KAFKA_SSL=true
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_SASL_MECHANISM=SCRAM-SHA-512

NEO4J_PASSWORD=
